---
version: '3.8'
services:
  frontend:
    image: sampath333/frontend:latest
    ports:
      - "80:80"
    depends_on:
      - middleware
    networks:
      - app-network

  middleware:
    image: sampath333/middleware:latest
    ports:
      - "5001:5001"
    depends_on:
      - model-service
      - mysql
    environment:
      - MYSQL_HOST=mysql
      - MYSQL_USER=root
      - MYSQL_PASSWORD={{ mysql_root_password }}
      - MYSQL_DATABASE=phishing_db
    networks:
      - app-network

  model-service:
    image: sampath333/model-service:latest
    ports:
      - "5000:5000"
    networks:
      - app-network

  mysql:
    image: mysql:8.0
    environment:
      - MYSQL_ROOT_PASSWORD={{ mysql_root_password }}
      - MYSQL_DATABASE=phishing_db
    volumes:
      - mysql-data:/var/lib/mysql
      - ./init.sql:/docker-entrypoint-initdb.d/init.sql
    networks:
      - app-network

  logstash:
    image: docker.elastic.co/logstash/logstash:7.17.0
    volumes:
      - ./logstash.conf:/usr/share/logstash/pipeline/logstash.conf
      - ./mysql-connector-java.jar:/usr/share/logstash/mysql-connector-java.jar
    depends_on:
      - mysql
      - elasticsearch
    networks:
      - app-network

  kibana:
    image: docker.elastic.co/kibana/kibana:7.17.0
    ports:
      - "5601:5601"
    environment:
      - ELASTICSEARCH_HOSTS=http://elasticsearch:9200
    depends_on:
      - elasticsearch
    networks:
      - app-network

  elasticsearch:
    image: docker.elastic.co/elasticsearch/elasticsearch:7.17.0
    environment:
      - discovery.type=single-node
      - xpack.security.enabled=false
    ports:
      - "9200:9200"
    volumes:
      - es-data:/usr/share/elasticsearch/data
    networks:
      - app-network

volumes:
  mysql-data:
  es-data:

networks:
  app-network:
    driver: bridge