input {
  jdbc {
    jdbc_driver_library => "/usr/share/logstash/mysql-connector-java.jar"
    jdbc_driver_class => "com.mysql.cj.jdbc.Driver"
    jdbc_connection_string => "jdbc:mysql://mysql:3306/phishing_db?useSSL=false"
    jdbc_user => "root"
    jdbc_password => "{{ mysql_root_password }}"
    statement => "SELECT * FROM phishing_urls WHERE created_at > :sql_last_value"
    schedule => "* * * * *"
  }
}

output {
  stdout { codec => rubydebug }
  elasticsearch {
    hosts => ["http://elasticsearch:9200"]
    index => "phishing_urls"
  }
}